APP_ENV=local
LOG_LEVEL=info

JWT_SECRET=local-dev-secret-change-me
JWT_ISSUER=ofm-auth-service
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=720h
JWT_REFRESH_TOKEN_BYTES=32

DB_HOST=127.0.0.1
DB_PORT=5434
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=auth_service
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m

MIGRATIONS_PATH=file://migration/yugabyte
MIGRATIONS_TABLE=schema_migrations_auth_service

NATS_URL=nats://127.0.0.1:4222
NATS_USER=
NATS_PASSWORD=
NATS_STREAM_AUTH_EVENTS=AUTH_EVENTS
NATS_STREAM_MAIL_COMMANDS=MAIL_COMMANDS
NATS_STREAM_SAGA_COMMANDS=SAGA_AUTH_COMMANDS
NATS_SUBJECT_AUTH_CREATED=auth.created
NATS_SUBJECT_SAGA_CREATE_PENDING_AUTH=saga.auth.create_pending_registration
NATS_SUBJECT_SAGA_DELETE_AUTH=saga.auth.delete
NATS_SUBJECT_SAGA_CREATE_PENDING_AUTH_RESULT=saga.auth.create_pending_registration.result
NATS_SUBJECT_SAGA_DELETE_AUTH_RESULT=saga.auth.delete.result
NATS_SUBJECT_MAIL_SEND=mail.send
NATS_DURABLE_SAGA_CREATE_AUTH=auth_service_saga_create_pending_registration
NATS_DURABLE_SAGA_DELETE_AUTH=auth_service_saga_delete
NATS_SAGA_BATCH_SIZE=32
NATS_SAGA_MAX_WAIT=10ms
NATS_SAGA_WORKERS=8
NATS_SAGA_QUEUE_SIZE=500
NATS_SAGA_ACK_WAIT=30s
NATS_SAGA_MAX_DELIVER=5
NATS_SAGA_ADAPTIVE_ENABLED=false
NATS_SAGA_ADAPTIVE_CHECK_INTERVAL=2s
NATS_SAGA_ADAPTIVE_MEDIUM_PENDING=200
NATS_SAGA_ADAPTIVE_HIGH_PENDING=1000
NATS_SAGA_ADAPTIVE_LOW_BATCH_SIZE=8
NATS_SAGA_ADAPTIVE_LOW_MAX_WAIT=25ms
NATS_SAGA_ADAPTIVE_MEDIUM_BATCH_SIZE=32
NATS_SAGA_ADAPTIVE_MEDIUM_MAX_WAIT=10ms
NATS_SAGA_ADAPTIVE_HIGH_BATCH_SIZE=128
NATS_SAGA_ADAPTIVE_HIGH_MAX_WAIT=2ms
